# Copy this file to .env and fill in values
# DO NOT commit .env to GitHub.

PG_USER=postgres
PG_PASSWORD=change_me
PG_HOST=postgres
PG_PORT=5432
PG_DB=taxi_db

# Data month to process (YYYY-MM). Example: 2023-01
TRIPS_MONTH=2023-01
